@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Jost&display=swap');

@import "./utils/variables";

@import "../components/Header/Header.scss";
@import "../components/Nav/Nav.scss";
@import "../components/Banner/Banner.scss";

@import "../components/Portfolio/Portfolio.scss";
@import "../components/Skills/skills.scss";
@import "../components/About/About.scss";
@import "../components/Contact/Contact.scss";

@import "../components/Footer/Footer.scss";
@import "../components/BackToTop/BackToTop.scss";

/* --------------------------------------- */
/* ----- Basic Setup ----- */
/* --------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;

    @media(max-width: 1000px) {
        font-size: 52%;
    }
}

body {
    font-size: $font-size-small;
    font-family: 'Hk Grotesk', sans-serif;
    font-weight: 400;
    color: $white-1;
    line-height: $line-height-normal;
    background: $black;
    overflow-x: hidden;
}

.row {
    max-width: $container-max-width;
    margin: 0 auto;

    @media screen and (max-width: 1340px) {
        max-width: 1100px;
    }

    @media screen and (max-width: 1240px) {
        padding: 0 $gutter-medium;
    }

    @media screen and (max-width: 600px) {
        padding: 0 $gutter-normal;
    }

    @media screen and (max-width: 500px) {
        padding: 0 $gutter-small;
    }
}

section {
    padding: $gutter-huge 0;
    border-bottom: $border-light;
}

img {
    object-fit: contain;
    max-width: 100%;
}

/* --------------------------------------- */
/* ----- Headlines and Paragraphs ----- */
/* --------------------------------------- */

h1,
h2,
h3 {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    line-height: $line-height-small;
    color: $white;
}

h2 {
    font-size: $font-size-large;
    margin-bottom: $gutter-medium;
}

h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 10rem;
    background: $pink;
    margin: $gutter-small 0;
}

h3 {
    font-size: $font-size-medium-1;
    margin-bottom: $gutter-small;
}

@media screen and (max-width: 500px) {
    h2 {
        font-size: $font-size-medium-1;
    }

    h3 {
        font-size: $font-size-medium;
    }
}

p {
    margin: $gutter-small-1 0;
}

@media screen and (max-width: 900px) {
    p { 
        max-width: $container-small-width;
    }
}

/* --------------------------------------- */
/* ----- Buttons and Links ----- */
/* --------------------------------------- */

a {
    color: $white;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    transition: all .2s;
    outline: 2px solid transparent;
}

::-moz-focus-inner {
    border: 0;
}