@import "../../sass/utils/variables";

.skills {

    &__logos {
        display: grid;
        grid-template-columns: repeat(4, 23.1%);
        gap: $gutter-normal;

        @media screen and (max-width: 1340px) {
            grid-template-columns: repeat(4, 22.95%);
        }

        @media screen and (max-width: 1240px) {
            grid-template-columns: repeat(4, 22.7%);
        }
    
        @media screen and (max-width: 1100px) {
            grid-template-columns: repeat(4, 22.6%);
        }
    
        @media screen and (max-width: 1000px) {
            grid-template-columns: repeat(4, 22.85%);
        }

        @media screen and (max-width: 850px) {
            grid-template-columns: repeat(4, 22.4%);
        }

        @media screen and (max-width: 785px) {
            grid-template-columns: repeat(3, 30.8%);
        }

        @media screen and (max-width: 550px) {
            grid-template-columns: repeat(3, 29.8%);
        }

        @media screen and (max-width: 550px) {
            grid-template-columns: repeat(2, 47%);
        }

        @media screen and (max-width: 390px) {
            grid-template-columns: repeat(2, 46%);
        }

        &__skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__logo {
                height: 6.5rem;
                max-width: 14rem;
                opacity: 0;
                transition: opacity .8s ease;

                &.show {
                    opacity: 1;
                }

                &:not(:last-of-type) {
                    @media screen and (max-width: 1240px) {
                        margin-right: $gutter-medium;
                    }
                }

                &:hover + span {
                    opacity: 1;
                    transform: rotateY(360deg);
                }
            }

            & span {
                margin-top: 0.2rem;
                text-align: center;
                opacity: 0;
                transform: rotateY(0);
                transition: opacity .4s ease, transform 1s ease-in-out;
            }
        }
    }

    &.show {
        &__logos {
            &__skill__logo {
                opacity: 1;
            }
        }
    }
}