@import "../../sass/utils/variables";

.header {
    background: url('../../assets/images/background.jpg');
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    font-size: $font-size-normal;
    animation: move 50s linear infinite;

    @media screen and (max-width: 500px) {
        text-align: center;
    }
}

@keyframes move {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}