@import "../../sass/utils/variables";

.header {
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
        url('../../assets/images/background.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: $font-size-normal;

    @media screen and (max-width: 500px) {
        text-align: center;
    }
}