@import "../../sass/utils/variables";

.banner {

    &__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        & p {
            margin: 1.5rem 0 3.5rem;
            max-width: $container-medium-width;
            font-family: 'Kurale', serif;
            font-size: $font-size-medium;
            opacity: 0;
            transform: translateX(-100%);

            @media screen and (max-width: 500px) {
                transform: scale(.8);
            }
        }

        &__title {
            line-height: 1;
            font-size: $font-size-huge;
            font-weight: 400;

            @media screen and (max-width: 900px) {
                font-size: 6.5rem;
            }

            @media screen and (max-width: 500px) {
                font-size: $font-size-large;
            }
        }

        &__btn {
            position: relative;
            display: inline-block;
            padding: 1rem 4.2rem;
            text-decoration: none;
            color: inherit;
            border: 1px solid $pink;
            font-weight: 400;
            opacity: 0;

            &:focus {
                outline: none;

                &::after{
                    right: 0;
                    background: $pink;
                }
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 100%;
                background: $white;
                height: 100%;
                z-index: -1;
                transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
            }

            &:hover::after {
                right: 0;
                background: $pink;
            }

            &--pink {
                background: $pink;
                transition: all 0.2s;

                &::after {
                    display: none;
                }

                &:hover,
                &:focus {
                    background: transparent;
                }
            }
        }
    }
}

.meTyped {
    animation: heartbeat 1s ease-in-out;
    text-shadow: 0 0 10px rgba(255, 50, 88, 0.5),
    0 0 20px rgba(255, 50, 88, 0.5),
    0 0 30px rgba(255, 50, 88, 0.5),
    0 0 40px rgba(255, 50, 88, 0.5),
    0 0 50px rgba(255, 50, 88, 0.5);
}

.infoSlide {
    animation: slideIn 2s ease forwards;
}

.showButton {
    animation: tada 2s 2s forwards;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes tada {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    10%, 20% {
        opacity: 1;
        transform: scale(0.9) rotate(-3deg);
    }
    30%, 50%, 70%, 90% {
        opacity: 1;
        transform: scale(1.1) rotate(3deg);
    }
    40%, 60%, 80% {
        opacity: 1;
        transform: scale(1.1) rotate(-3deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
}